/* You can include your custom styling here */

/*@media(max-width:767px){
  .class-name{
    font-size: 10px;
  }
}

@media(min-width:768px){
  .class-name{
    font-size: 50px;
  }
}

@media(min-width:992px){
  .class-name{
    font-size: 100px;
  }
}

@media(min-width:1200px){
  .class-name{
    font-size: 500px;
  }
}*/

a{
  color: #ef4423;
}

body{
  color: #4e5860;
  font-family: sans-serif;
}

.sidebar{
  background-color: white;
}

.wrapping{
  background-color: #f8f9fa;
}

.content-background{
  background-color: white;
  border: 2px solid #eceff0;
}

.navbar-default{
  background-color: white;
  border-bottom: 2px solid #d9e0e2;
}

.img-responsive{
  width: 100%;
}

@media(max-width:767px){
  .wrapping{
    padding-left: 0;
    padding-right: 0;
  }
}

@media(min-width:1200px){
  .sidebar{
    width: 315.250px;
  }

  .main{
    margin-left: 315.250px;
    width: auto;
  }
}